.centernav li a{
    color: white;
    text-decoration: none;
}
.centernav{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
}
.centernav  li {
    list-style: none;
    background-color: var(--btnColor);
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
	transition: 0.3s;
}
.centernav  li :hover{
	background: rgb(16,146,114);
background: linear-gradient(16deg, rgba(16,146,114,0.9248074229691877) 19%, rgba(114,191,201,0.7791491596638656) 73%);
	
}

@media  screen and (max-width:700px){
    .centernav li {
    width: 80px;
    font-size: x-small;
    font-weight: bolder;
    border-radius: 0px;
    }
}

